.jumbotron {
	background-color: #008cba;
	padding: 10px;
	margin-bottom: 0;
}

.jumbotron .heading {
	color: #eef;
	margin-bottom: 5px;
}

.jumbotron .details {
	color: #dde;
	font-size: 110%;
}

.jumbotron .details li {
	padding: 5px 0;
}

.jumbotron .details * {
	color: inherit;
	font-size: 100%;
}

.jumbotron .details blockquote {
	border: 0;
	background-color: #109cca;
	border-radius: 5px;
}

.jumbotron-toggler {
	background-color: #008cba;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.jumbotron-toggler:hover {
	background-color: #109cca;
}
