body {
    font-family: 'Lato';
    color: #666;
}

.glyphicon, .fa-btn {
    margin: 0 6px;
}

.container header {
	font-size: 250%;
	padding-bottom: 40px;
}

.container header small {
	font-size: 50%;
	display: block;
}

/* Forms */

FORM textarea {
    max-width: 100%;
}

FORM label {
	font-size: 110%;
	text-align: right;
	margin-top: 6px;
}

.btn {
	border-radius: 3px;
}

/* Panels */

.panel-heading {
	font-weight: bold;
	font-size: larger;
}

.panel {
	border-radius: 3px;
	border: 1px solid #ddd;
}

/* Flash Messages */

.alert {
	border-radius: 3px;
}

/* Search */

.search-form input {
    border-radius: 3px;
}