body {
    color: #666;
    background-color: #f5f5f1;
    padding-bottom: 20px;
}

.glyphicon, .fa, .fa-btn {
    margin: 0 6px;
}

/* Jumbotron*/

.jumbotron {
	background-color: #008cba;
	padding: 60px 30px;
	color: #fff;
}

.jumbotron .name h1 {
	font-weight: bolder;
	color: #dde;
	font-size: 350%;
	margin-bottom: 20px;
}

.jumbotron .name {
	color: #ccd;
	font-weight: bold;
}

.jumbotron .details,
.jumbotron .details * {
	color: #dde;
	font-size: 100%;
	font-weight: normal;
}

.jumbotron .details blockquote {
	border: 0;
	background-color: #109cca;
	border-radius: 5px;
}

/* Page Headings */

.container #question {
	margin-top: 20px;
}

.container header {
	font-size: 250%;
	padding: 20px 0;
}

.container header small {
	font-size: 50%;
	display: block;
}

.container footer {
	font-size: 90%;
	padding-top: 30px;
}

/* Forms */

FORM textarea {
    max-width: 100%;
}

FORM label {
	font-size: 110%;
	text-align: right;
	margin-top: 6px;
}

.btn {
	border-radius: 5px;
}

/* Panels */

.panel {
	border-radius: 5px;
}

.panel-heading {
	font-weight: bold;
	font-size: larger;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* Flash Messages */

.alert {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Search */

.search-form input {
    border-radius: 3px;
}