.navbar li a,
.navbar-nav li a {
	padding: 25px 10px;
	font-size: 110%;
}

.navbar-nav li.dropdown ul li a {
	padding: 10px 10px;
	margin: 0;
}

.navbar-auth {
	margin-right: 32px;
}

.navbar-links {
	border-top: 1px solid #3c3c3c;
	/*padding: 0 15%;*/
}

.navbar-links ul {
	background-color: #3c3c3c;
	text-align: center;
}

.navbar-link {
	background-color: #333;
	margin-right: 1px;
}

.navbar-link:first-child {
	margin-left: 1px;
}

.navbar-link ul li {
	text-align: left;
	margin: 0;
}

.dropdown-menu {
	width: 100%;
}

li.dropdown:hover .dropdown-toggle {
	background-color: #272727;
}

/* Brand */

.navbar .navbar-brand {
	font-size: 180%;
	padding: 20px 0 0 40px;
	height: 70px;
}

.navbar .navbar-brand small {
	position: relative;
	left: -80px;
	top: 14px;
}

.nav .avatar {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 12px;
	left: -50px;
	border: 3px solid #333;
	border-radius: 50%;
}

.navbar {
	margin-bottom: 0;
}

/* Search Bar */

#search {
	margin-top: 15px;
}

#search input {
	height: 40px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#search .btn {
	height: 40px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* Breadcrumbs */

.breadcrumb {
	background-color: #000;
	padding: 30px 20px;
	color: #fff;
	font-size: 100%;
	margin-bottom: 0;
	border-radius: 0;
	border-width: 0;
}

.breadcrumb li.active {
	color: #fff;
	font-weight: 500;
}

.breadcrumb li a {
	color: #fff;
	cursor: hand;
	text-decoration: none;
	padding: 3px 5px;
	border-radius: 5px;
	font-weight: 700;
}

.breadcrumb li a:hover {
	background-color: #eee;
	color: #666;
}