/* Responses List */

.response {
	margin-bottom: 30px;
}

.response .user-info {
	text-align: center;
}

.response .user-info .avatar {
	width: 75px;
	height: 75px;
	border: 6px solid #286090;
	border-radius:50%;
}

.response .body {
}

.response .details {
	color: #aaa;
	font-size: smaller;
}
