/* Global Stuff */

.avatar {
	border: solid #333;
	border-radius: 50%;
}

.active-user .username:after {
	font-family: FontAwesome;
	content: '\f058';
	margin-left: 4px;
}

/* In Questions/Discussions List */

.questions .avatar,
.discussions .avatar {
	border-width: 7px;
	width: 70px;
	height: 70px;
}

/* Single Question/Discussion */

#question .avatar,
#discussion .avatar {
	border-width: 7px;
	width: 100px;
	height: 100px;
}

.comment .avatar,
.response .avatar {
	border-width: 7px;
	width: 70px;
	height: 70px;
}

/* Users List */

.users .avatar {
	border-width: 7px;
	width: 150px;
	height: 150px;
}

/* Profile */

.profile .avatar {
	width: 150px;
	height: 150px;
	border-width: 10px;
}

.profile header {
	font-size: 300%;
	font-weight: bolder;
}

/* Activity */

.activities {

}

.activities .activity {

}

.activities .activity .date {
	height: 100px;
	position: relative;
}

.activities .activity .date h5 {
	background-color: #f5f5f1;
	font-weight: 500;
}

.activities .activity .date:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 20px;
	bottom: 0;
	border-left: 1px solid #d5d5d1;
}

.activities .activity div {
	padding: 10px 0;
}