body {
  font-family: 'Lato', sans-serif;
  color: #666;
  background-color: #f9f9f1;
}

.container {
	padding-top: 50px;
}

footer {
	background-color: #272727;
	margin: 40px 0 0 0;
}

a {
	font-weight: 500;
}

.glyphicon, .fa, .fa-btn, .mdi {
    margin: 0 6px;
}

.mdi, .fa {
	font-size: 130%;
	position: relative;
	top: 3px;
}

/* Panels */

.panel {
	/*border-radius: 5px;*/
}

.panel-heading {
	background-color: #fff;
/*
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
*/
}

.panel-footer {
	background-color: #fff;
/*
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
*/
}

/* Flash Messages */

.alert {
	width: 100%;
	font-weight: 500;
	text-align: center;

	font-size: 110%;
}

/* Drodown Menus */

.dropdown:hover {
	
	button {
	}
	
	.dropdown-menu {
		display: block;
	}
}

.dropdown-menu {
	border-width: 0;
	background-color: #3c3c3c;
	color: #fff;

	li a {
		color: #fff;
	}

	li a:hover {
		background-color: #272727;
		color: #eee;
	}
}

/* Heading */

.fancy-heading {
	line-height: 1;
	text-align: center;
	margin-bottom: 40px;
}
.fancy-heading span {
	font-size: 150%;
	display: inline-block;
	position: relative;
}
.fancy-heading span:before,
.fancy-heading span:after {
  content: "";
  position: absolute;
  height: 15px;
  border-bottom: 3px solid #008cba;
  top: 0;
  width: 60%;
}
.fancy-heading span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy-heading span:after {
  left: 100%;
  margin-left: 15px;
}