.posts {
	
	.post {
		margin: 20px 0;
	    border-collapse: separate;
	    border-spacing: 10px 50px;

		transition: background-color 0.5s ease;

		.post-user {
			min-width: 120px;
		}

		.post-user {
			text-align: center;
		}

		.post-title {
			
			.title {
				font-size: 150%;
				margin: 5px 0;
				font-weight: 700;
			}

		}

		.post-channel {
			padding-top: 35px;
		}

		td {
			vertical-align: top;
			padding: 20px 0;
			padding-left: 15px;
		}

		.post-comments {
			padding-right: 25px;
		}
	}

	.post:hover {
		background-color: #f0f0f0;
	}

	.standards {
		ul {
			display: inline;
		}
	}

	.avatar {
		width: 65px;
		height: 65px;
	}

	.comment-count {
		display: inline;
		border-radius: 3px;
		background-color: #ccc;
		color: #fff;
		font-size: 95%;
		font-weight: 600;
		text-align: center;
		padding: 1px 3px;
		position: relative;
		top: 0;
		min-width: 20px;
		float: right;
	}

	.comment-count:after {
		content: "";
		position: absolute;
		bottom: -7px; 					/* value = - border-top-width - border-bottom-width */
		left: 5px;						/* controls horizontal position */
		border-width: 8px 8px 0 0;		/* vary these values to change the angle of the vertex */
		border-style: solid;
		border-color: #ccc transparent;
	}

}

.meta {
	
	color: #aaa;

}

.standards-list {

	li {
		
		padding: 0 0 0 4px;
		margin: 0;
		font-size: 90%;

		a {
			text-decoration: underline;
		}

	}

}

#post {

	.panel-heading {
		background-color: #fff;
		font-size: 200%;
		border-bottom-width: 0;
		color: #333;
	}
	
	.avatar {
		width: 120px;
		height: 120px;
		border: 8px solid #333;
		border-radius:50%;
	}

	.dropdown-menu {

		.btn, .a {
			color: #fff;
		}

	}

	.panel-footer {
		background-color: #fafafa;
	}
}

.comment,
.response {

	margin: 30px 0;
	
	.avatar {
		width: 80px;
		height: 80px;
	}

	.likers {
		.liker {
			margin: 0 0.5em;
			padding: 0 5px;
			border-radius: 3px;
		}
	}

}
.comment-form,
.response-form {
	margin-top: 30px 0;
}