.posts {
	
	font-size: 90%;

	.post {
		margin: 25px 0;

		h4 {
			margin: 5px 0;
		}
	}

	.standards {
		ul {
			display: inline;
		}
	}

	.avatar {
		width: 65px;
		height: 65px;
	}

	.comment-count {
		display: inline;
		border-radius: 5px;
		background-color: #ccc;
		color: #fff;
		font-size: 95%;
		font-weight: 600;
		text-align: center;
		padding: 1px;
		position: relative;
		top: 20px;
		min-width: 20px;
		float: right;
	}

	.comment-count:after {
		content: "";
		position: absolute;
		bottom: -7px; 					/* value = - border-top-width - border-bottom-width */
		left: 5px;						/* controls horizontal position */
		border-width: 8px 8px 0 0;		/* vary these values to change the angle of the vertex */
		border-style: solid;
		border-color: #ccc transparent;
	}

}

.meta {
	
	color: #aaa;

}

.standards-list {

	li {
		
		padding: 0 0 0 4px;
		margin: 0;
		font-size: 90%;

		a {
			text-decoration: underline;
		}

	}

}

#post {

	.panel-heading {
		background-color: #fff;
		font-size: 200%;
		border-bottom-width: 0;
		color: #333;
	}
	
	.avatar {
		width: 120px;
		height: 120px;
		border: 8px solid #333;
		border-radius:50%;
	}

	.dropdown-menu {

		.btn, .a {
			color: #fff;
		}

	}

}

.comment,
.response {
	
	.avatar {
		width: 80px;
		height: 80px;
	}

}
