/* Global Stuff */

.avatar {
	border-radius:50%;
	border: 6px solid #333;
}

.active-user {
	.username:after {
		font-family: FontAwesome;
		content: '\f058';
		margin-left: 4px;
	}
}

/* Profile */

.profile {

	.avatar {
		width: 150px;
		height: 150px;
		border: 10px solid #333;
	}

	header {
		font-size: 300%;
		font-weight: bolder;
	}
}


/* Activities */

.activities {

	.activity {

		.date {
			height: 100px;
			position: relative;
		}

		.date h5 {
			background-color: #f5f5f1;
			font-weight: 500;
		}

		.date:after {
			content: "";
			position: absolute;
			z-index: -1;
			left: 50%;
			top: 20px;
			bottom: 0;
			border-left: 1px solid #d5d5d1;
		}

		div {
			padding: 10px 0;
		}
	}
}