/* Global Stuff */

.avatar {
	height: 85px;
	width: 85px;
	border-radius:50%;
	border: 6px solid #333;
}

.active-user {
	.username:after {
		font-family: FontAwesome;
		content: '\f058';
		margin-left: 4px;
	}
}

/* Profile */

.profile {

	.avatar {
		width: 150px;
		height: 150px;
		border: 10px solid #333;
	}

	header {
		font-size: 300%;
		font-weight: bolder;
	}
}


/* Activities */

.activities {

	.activity {

		div {
			padding: 0;
		}
	}
}